@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  h1,
  h2,
  h3,
  .event-title {
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    letter-spacing: -0.02em;
  }

  body,
  p,
  button {
    font-family: 'Inter', sans-serif;
  }
}

:root {
  --foreground-rgb: 31, 41, 55;
  --background-start-rgb: 245, 245, 240;
  --background-end-rgb: 245, 245, 240;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 245, 245, 240;
    --background-start-rgb: 31, 41, 55;
    --background-end-rgb: 31, 41, 55;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}